<a href="#" class="brand">Addvertise</a>

<!-- Region for the Places Autocomplete View: -->
<div class="places-search-region"></div>

<div class="pull-right">

  <button type="button" class="btn btn-success js-init-session">Iniciar Sesión</button>

  <div class="btn-group">
    <button type="button" class="btn btn-primary js-register">Registrarse</button>

    <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
      <span class="sr-only">Toggle Dropdown</span>
    </button>

    <ul class="dropdown-menu" role="menu">
      <li><a>Action</a></li>
      <li><a>Another action</a></li>
      <li><a>Something else here</a></li>
      <li class="divider"></li>
      <li><a>Separated link</a></li>
    </ul>
  </div>

  <button type="button" class="btn btn-warning js-publish">Publicar Anuncio</button>

</div>
