<a class="item-title js-seeMoreDetails"><%= title %></a>

<div class="price">
  <span class="currency">$</span>
  <%= prize %>
</div>

<a class="thumbnail item-picture js-seeMoreDetails">
  <img src="<%= img %>">
</a>

<div class="item-text"><%= shortText %></div>

<div class="item-info">
  <span class="user">Usuario: <span class="user__name"><%= userName %></span></span>
  <!-- <span class="">User Id: <%= userId %></span> -->
  <span class="publish-date"><%= formatedPublishDate %></span>
</div>
