<div>this is the home</div>

<div class="search-area">
  <h1 class="text-special">Encuentra un sitio en el que quedarte.</h1>
  <h2>Alquila espacios de otras personas en 34,000 ciudades y 192 países.</h2>

  <div class="custom show-search-options position-left form-inline">
    <div class="input-wrapper">
      <input type="text" class="js-locationInput" name="location" placeholder="¿A dónde quieres ir?">
      <p class="bad">
        Por favor, elige una ubicación
      </p>
    </div>

    <div class="input-wrapper">
      <input type="text" id="checkin" class="checkin search-option input-large input-contrast ui-datepicker-target" name="checkin" placeholder="Llegada">
      <span class="search-area-icon"></span>
    </div>

    <div class="input-wrapper">
      <input type="text" id="checkout" class="checkout search-option input-large input-contrast ui-datepicker-target" name="checkout" placeholder="Salida">
      <span class="search-area-icon search-area-icon-checkout"></span>
    </div>

    <div class="input-wrapper">
      <select name="guests" class="search-option small">
        <option value="1">1 Huésped</option>
        <option value="2">2 Huéspedes</option>
        <option value="3">3 Huéspedes</option>
        <option value="4">4 Huéspedes</option>
        <option value="5">5 Huéspedes</option>
        <option value="6">6 Huéspedes</option>
        <option value="7">7 Huéspedes</option>
        <option value="8">8 Huéspedes</option>
        <option value="9">9 Huéspedes</option>
        <option value="10">10 Huéspedes</option>
        <option value="11">11 Huéspedes</option>
        <option value="12">12 Huéspedes</option>
        <option value="13">13 Huéspedes</option>
        <option value="14">14 Huéspedes</option>
        <option value="15">15 Huéspedes</option>
        <option value="16">16+ Huéspedes</option>
      </select>

      <div class="btn btn-large dropdown-toggle input-contrast" aria-hidden="true">
        <span class="value language current">1 Huésped</span>
        <i class="icon icon-caret-down icon-gray"></i>
      </div>

    </div>

    <input type="hidden" name="source" value="bb">
    <button class="btn btn-primary btn-large btn-contrast js-submitLocation">Buscar</button>

  </div>

</div>
